/* .service-main {
  height: 100vh;
  width: 100%;
} */

/* .services {
  display: flex;
  margin-top: 3rem;
  flex-direction: row;
  justify-content: space-around;
} */
@media (min-width: 375px) {
  .service-main {
    height: 100%;
    width: 100%;
  }

  .services {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    /* border: 1px solid red; */
  }

  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem;
    padding-bottom: 1rem;
    width: 100%;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .service-main {
    height: 100%;
    width: 95%;
    margin: 5rem auto;
  }

  .services {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    /* border: 1px solid red; */
  }

  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0rem;
    padding: 0.3rem 0.7rem;
    padding-bottom: 1rem;
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1090px) {
  .service-main {
    height: 100%;
    width: 100%;
    margin: 5rem auto;
  }

  .services {
    display: flex;
    margin-top: 3rem;
    flex-direction: row;
    /* border: 1px solid red; */
  }

  .service-item:last-child {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem;
    padding: 0.3rem 0.7rem;
    padding-bottom: 1rem;
    width: 100%;
  }

  .service-item:nth-child(-n + 2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0.5rem;
    padding: 0.3rem 0.7rem;
    padding-bottom: 1rem;
    width: 95%;
  }
}

@media (min-width: 1090px) {
  .service-main {
    height: 100%;
    width: 100%;
    margin: 5rem auto;
  }

  .services {
    display: flex;
    margin-top: 3rem;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: space-around;
  }
  @media (max-width: 1090px) {
    .service-item:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      padding: 0.3rem 0.7rem;
      padding-bottom: 1rem;
      width: 100%;
    }
  }

  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0.5rem;
    padding: 0.3rem 0.7rem;
    padding-bottom: 1rem;
    width: 95%;
  }
}

.service-item:hover {
  box-shadow: 2px 3px 10px 5px rgb(107, 106, 106);
  transition-duration: 400ms;
}
.itemLight {
  background-color: whitesmoke;
}

.itemDark {
  background-color: rgb(11, 17, 31);
}
span {
  width: 100%;
}
.item-img {
  height: 20rem;
  width: 20rem;
  /* border: 1px solid white; */
}
