* {
    font-family: sans-serif;
  }
  
  .SignUp-box {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    align-items: center;
  }
  
  .SignUp-form {
    width: 25rem;
    margin: 1rem auto;
  }
  
  .SignUp-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: .5rem auto;
  }
  
  .SignUp-item input {
    margin-top: .5rem;
    width: 100%;
    background-color: inherit;
    outline: none;
  }
  